{% extends 'layouts/layout.html.twig' %}

{% block title %}Please confirm your email{% endblock %}

{% block content %}
<section>
    <div class="section-inner">
        <div class="container">
            <div class="row mt-5">
                <h4 class="text-center">Please check your emails and click on the link to activate your account</h4>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
