{% extends 'layouts/layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <section>
        <div class="section-inner">
            <div class="container">
                <div class="row mt-5">
                    <h4 class="text-center">Please check your emails</h4>
                    <p class="text-center">Click on the link in the email to reset your password</p>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}
