{% extends 'layouts/layout.html.twig' %}

{% block title %}Enter your password{% endblock %}

{% block content %}
    <section>
        <div class="section-inner">
            <div class="container">
                {% if valid %}
                <div class="row mt-5">
                    <h4 class="text-center">Enter your new password</h4>
                </div>
                <div class="row mt-5">
                    {{ form(form) }}
                </div>
                {% else %}
                <div class="row mt-5">
                    <h4 class="text-center">Your reset code has expired</h4>
                    <p><a href="{{ url('resetPassword') }}">You have to restart the process</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
