{% extends 'layouts/layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <section>
        <div class="section-inner">
            <div class="container">
                <div class="row mt-5">
                    <h4 class="text-center">Enter your email to reset your password</h4>
                </div>
                <div class="row mt-5">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
